**# Tuples in Python**

In [1]:
my_tuple = (1, 2, 3)
print(my_tuple)
print(type(my_tuple))

(1, 2, 3)
<class 'tuple'>

**# Create Tuples: 1. using parenthesis**

In [2]:
my_tuple = (1, 2, 3)
print(my_tuple)
print(type(my_tuple))

my_tuple1 = (1, "Madhavi", True, 3.14)
print(my_tuple1)
print(type(my_tuple1))

(1, 2, 3)
<class 'tuple'>
(1, 'Madhavi', True, 3.14)
<class 'tuple'>

**2. without parenthesis**

In [3]:
tuple1 = 1, 2, 3
print(tuple1)
print(type(tuple1))

(1, 2, 3)
<class 'tuple'>

**3. using the tuple constructor**

In [6]:
# syntax: my_tuple = tuple()

tuple2 = ((1, 2, 9))
print(type(tuple2))
print(tuple2)

list1 = [1, 2, 3]
new_tuple = tuple(list1)
print(new_tuple)
print(type(new_tuple))

<class 'tuple'>
(1, 2, 9)
(1, 2, 3)
<class 'tuple'>

**4. create a single element**

In [ ]:
a = ("a",)        # comma add
print(type(a))

<class 'tuple'>

**# access tuple - indexing**

In [10]:
fruits = ('apple', 'cherry', 'mango')

print(fruits[0])
print(fruits[-1])

apple
mango

**#tupple slicing**

In [17]:
new_tuple = (10, 20, 30, 40, 50)

print(new_tuple[0:3:1])

print(new_tuple[0:3:2])

print(new_tuple[0::3])

print(new_tuple[::-1])

(10, 20, 30)
(10, 30)
(10, 40)
(50, 40, 30, 20, 10)

**# tuple operations: 1. concatenate - join tuples**

In [18]:
tuple1 = (1, 2, 3)
tuple2 = ('a', 'b')

tuple3 = tuple1 + tuple2
print(tuple3)

(1, 2, 3, 'a', 'b')

**2. repetitive**

In [21]:
tuple1 = ('a', 'b')
tuple = ('a', 'b') * 3
print(tuple)

tuple1 = (1, 2, 3, 4)
tuple = (1, 2, 3, 4) * 3
print(tuple)

('a', 'b', 'a', 'b', 'a', 'b')
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

**3. checking a element in a tuple**

In [44]:
tuple = (1, 2, 3)

print(1 in tuple)

print(5 in tuple)

True
False

**# tuple iteration**

In [27]:
# for loop
fruits = ('apple', 'mango', 'cherry')

for i in fruits:
    print(i)

# while loop
i = 0
while i < len(fruits):
    print(fruits[i])
    i += 1

apple
mango
cherry
apple
mango
cherry

**# tuple methods**

In [32]:
colors = ('blue', 'green', 'orange', 'blue')

# count
print(colors.count('blue'))

# index
print(colors.index('green'))

2
1

**# tuple functions**

In [ ]:
numbers = (2, 3, 1, 5, 6)

# len()
print(len(numbers))

# sum()
print(sum(numbers))

# min()
print(min(numbers))

# max()
print(max(numbers))

# sort
print(sorted(numbers))    # tuple is now list

del tuple
a = sorted(numbers)
numbers_sorted = tuple(a)
print(numbers_sorted)

5
17
1
6
[1, 2, 3, 5, 6]
(1, 2, 3, 5, 6)

**# tuple pack and unpack**

In [1]:
a = "Madhavi"
b = 21
c = "Engineer"

tuple_pack = a, b, c
print(tuple_pack)

('Madhavi', 21, 'Engineer')

In [10]:
name, age, profession = tuple_pack
print(name)
print(age)
print(profession)

Madhavi
21
Engineer

**# tuple modification**

In [ ]:
tuple_numbers = (10, 20, 30)

# tuple_numbers[0] = 100      # error

# how to mutate/modify tuple
list_numbers = list(tuple_numbers)
print(list_numbers)

list_numbers[0] = 100
print(list_numbers)

list_numbers.append(50)
print(list_numbers)

list_numbers.remove(20)
print(list_numbers)

[10, 20, 30]
[100, 20, 30]
[100, 20, 30, 50]
[100, 30, 50]