**# Create Sets**

In [ ]:
# characteristics of set
# 1. uniques values/items
# 2. unordered - no indexing
# 3. mutable - add/remove elements
# 4. immutable elements - replace/modify existing elements

# create set using curly braces
my_set = {1, 2, 3, 4}
print(my_set)
print(type(my_set))

{1, 2, 3, 4}
<class 'set'>

In [2]:
# create set using set constructor
my_set2 = set([5, 6, 7, 8])
print(my_set2)

{8, 5, 6, 7}

**#Set Operations**

In [3]:
# adding elements
numbers = {1, 2, 3, 4}
numbers.add(100)
print(numbers)

{1, 2, 3, 100, 4}

In [ ]:
# removing elements
# remove
fruits = {'apple', 'mango', 'banana'}
fruits.remove('apple')                # if element not present shows error
print(fruits)

# discard
fruits.discard('banana')              # doesn't show error
print(fruits)

{'mango', 'banana'}
{'mango'}

**# Set Methods**

In [14]:
# 1. union - combine elements from 2 sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

# union alternative method
union_set2 = set1 | set2
print(union_set2)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [17]:
# 2. intersection - common elements
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5}
inter_set = set1.intersection(set2)
print(inter_set)

# intersection alternative method
inter_set2 = set1 & set2
print(inter_set2)

{3, 4}
{3, 4}

In [21]:
# 3. difference - elements present in first set only but not in second set
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5}
diff_set = set1.difference(set2)
print(diff_set) 

# difference alternative method
diff_set2 = set1 - set2
print(diff_set2)

{1, 2}
{1, 2}

In [25]:
# 4. symmetric difference - elements in either set but not in both
set1 = {1, 3, 2}
set2 = {3, 4, 5, 6}
sdiff_set = set1.symmetric_difference(set2)
print(sdiff_set)

# symmetric difference alternative method
sdiff_set2 = set1 ^ set2
print(sdiff_set2)

{1, 2, 4, 5, 6}
{1, 2, 4, 5, 6}

**# Set Iterations**

In [ ]:
# for loop
numbers = {1, 2, 3, 4, 5}
for i in numbers:
    print(i)

# while loop - doesn't support

1
2
3
4
5

**# Set Comprehension**

In [30]:
squares = {x**2 for x in range(1, 6)}
print(squares)

squares2 = {x**3 for x in range(1, 6)}
print(squares2)

{1, 4, 9, 16, 25}
{64, 1, 8, 27, 125}